In [1]:
import sys
import importlib
import os
# make the module available from the src directory
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from src.dataLoaders.PatientDataLoader import PatientDataProcessor
importlib.reload(sys.modules['src.dataLoaders.PatientDataLoader'])

In [3]:
meta_folder = 'OAIData21/'
data_path = '../datasets/meta_data/' + meta_folder

processor = PatientDataProcessor(base_path=data_path)
processor.create_meta_data_for_visit(visit_no=1)
processor.get_data()

Missing columns for visit V01: {'P01BMI'}

c:\Datalogi\Bachelor\XAI-in-Medical-Image-Analysis\src\dataLoaders\PatientDataLoader.py:105: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  self.enroll_df = df_enroll[['P02SEX']].replace(
c:\Datalogi\Bachelor\XAI-in-Medical-Image-Analysis\src\dataLoaders\PatientDataLoader.py:146: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe[column].fillna(mean, inplace=True)

,V01BMI,V01AGE,V01WOMTSL,V01WOMTSR,V01KQOL2,V01PASE,V01DILKN10,V01DILKN11,V01DILKN2,V01DIRKN10,V01DIRKN11,V01DIRKN2,Sex
ID,,,,,,,,,,,,,
9000099,24.1,60.0,23.0,10.0,3.0,119.0,2.0,2.0,2.0,1.0,0.0,1.0,0
9000296,29.4,70.0,0.0,0.0,0.0,190.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9000622,22.2,72.0,0.0,2.0,0.0,118.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9000798,32.8,58.0,33.0,2.0,3.0,285.0,2.0,1.0,2.0,0.0,0.0,0.0,0
9001104,28.7,73.0,0.0,23.0,2.0,157.0,0.0,0.0,0.0,1.0,1.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999365,31.8,57.0,14.6,15.4,2.0,242.0,0.0,0.0,3.0,0.0,0.0,2.0,0
9999510,29.6,51.0,2.0,0.0,2.0,157.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9999862,23.6,62.0,0.0,0.0,0.0,215.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9999865,25.0,62.0,0.0,0.0,0.0,82.0,0.0,0.0,0.0,0.0,0.0,0.0,1
9999878,27.0,73.0,4.0,1.0,0.0,124.0,1.0,0.0,1.0,0.0,0.0,0.0,1

In [4]:
from src.dataLoaders.NiftiDataLoader2 import NiftiDataLoader
importlib.reload(sys.modules['src.dataLoaders.NiftiDataLoader2'])

In [5]:
dataset = 'niftiShort'
data_path = '../datasets/nifti/'
data_dir = f'{data_path}{dataset}'
visit = 1

data_dir = 'C:/Users/askel/Downloads/NIFTY/NIFTY/'


data_loader = NiftiDataLoader(data_dir=data_dir, meta_data_loader=processor, batch_size=2, cache_rate=0.5)
data_loader.load_data(visit_no=1, subset_size=50, cache="smart")

Total images detected: 1908
Total images: [{'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9000798-Left-V01.nii.gz', 'label': 58.0}, {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9000798-Right-V01.nii.gz', 'label': 58.0}, {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9001695-Left-V01.nii.gz', 'label': 53.0}, {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9001695-Right-V01.nii.gz', 'label': 53.0}, {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9001897-Left-V01.nii.gz', 'label': 74.0}]
Example train data: {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9304509-Left-V01.nii.gz', 'label': 67.0}
Example validation data: {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9224983-Left-V01.nii.gz', 'label': 59.0}
Example test data: {'image': 'C:/Users/askel/Downloads/NIFTY/NIFTY/9352883-Right-V01.nii.gz', 'label': 73.0}

Loading dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 25/25 [00:24<00:00,  1.03it/s]
Loading dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2/2 [00:01<00:00,  1.16it/s]
Loading dataset: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 5/5 [00:04<00:00,  1.11it/s]

In [13]:
from src.models.baseModels.resnet_3D_monai import MedicalResNetModel
importlib.reload(sys.modules['src.models.baseModels.resnet_3D_monai'])

In [14]:
# Create a model instance
model = MedicalResNetModel(
    num_epochs=2,
    learning_rate=0.01,
    weight_decay=1e-4,
    data_loader=data_loader,
    dropout_rate=0.1,
)

# Train the model
model.train()

# Evaluate the model
model.evaluate()

Is cuda available:  True
Targets tensor([77., 49.], device='cuda:0')
Targets tensor([64., 62.], device='cuda:0')
Targets tensor([64., 75.], device='cuda:0')
Targets tensor([78., 72.], device='cuda:0')
Targets tensor([66., 77.], device='cuda:0')
Targets tensor([77., 52.], device='cuda:0')
Targets tensor([69., 61.], device='cuda:0')
Targets tensor([69., 69.], device='cuda:0')
Targets tensor([63., 79.], device='cuda:0')
Targets tensor([54., 58.], device='cuda:0')
Targets tensor([65., 76.], device='cuda:0')
Targets tensor([73., 57.], device='cuda:0')
Targets tensor([58.], device='cuda:0')
Epoch 1/2, Train Loss: 2.795313993675568e+24, Val Loss: 2.5579997996031614e+25
Targets tensor([69., 79.], device='cuda:0')
Targets tensor([52., 77.], device='cuda:0')
Targets tensor([54., 58.], device='cuda:0')
Targets tensor([69., 66.], device='cuda:0')
Targets tensor([64., 78.], device='cuda:0')
Targets tensor([65., 69.], device='cuda:0')
Targets tensor([49., 69.], device='cuda:0')
Targets tensor([63., 78.], device='cuda:0')
Targets tensor([79., 75.], device='cuda:0')
Targets tensor([72., 65.], device='cuda:0')
Targets tensor([64., 57.], device='cuda:0')
Targets tensor([61., 77.], device='cuda:0')
Targets tensor([69.], device='cuda:0')
Epoch 2/2, Train Loss: 6620286.03519381, Val Loss: 21020805.19921875
R^2 score of the network on the test images: -454136.09375
Test Loss: 4400978.166666667